.player {
	border: 1px solid black;
}

.button {
	height: 40px;
	width: 120px;
	background-color: grey;
	margin: auto;
}
.dice {
	border: 1px solid black;
	height: 80px;
}

.compBox {
    border: 1px solid black;
    height: 240px;
	width: 100%;
}

.dragBox {
	height: 50px;
	width: 50px;
	background-color: black;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
}

.comparePlayer {
	height: inherit;
	background-color: forestgreen;
}