.player {
	border: 1px solid black;
}

.button {
	height: 40px;
	width: 120px;
	background-color: grey;
	margin: auto;
}
.dice {
	border: 1px solid black;
	height: 80px;
}

.compBox {
    border: 1px solid black;
    height: 40px;
}